{% extends 'inicio.html' %}
{% load static %}

{# TODO: Register crispy_forms_tags #}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-6">
        <div class="card-body">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form | crispy }}
                
                <p>Imagen de 900 x 900</p>
                <br>
                <a class="btn btn-warning" href="{% url 'u_cat_list' %}">Cancelar</a>
                <input type="submit" class="btn btn-primary" name="Guardar Categoria" value="Guardar">
                <p> </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}