{% extends 'inicio.html' %}
{% load static %}

{# TODO: Register crispy_forms_tags #}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-4">
        <div class="card-body">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <a class="btn btn-warning" href="{% url 'u_usr_list' %}">Cancelar</a>
                <input type="submit" class="btn btn-primary" name="Guardar Usuario" value="Guardar">
                <p> </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
