{% extends 'table.html' %}
{% load static %}

{% block Table_Title %}
    <a href="{% url 'u_home_priv' %}"><button type="button" class="btn btn-info float-left btn-sm"><i class="fas fa-solid fa-chevron-left"> Regresar</i></button></a>
{% endblock %}

{% block Table_Links %}
    <a href="{% url 'u_export_excel_usr' %}"><button type="button" class="btn btn-primary float-right"><i class="fas fa-file-excel"> Excel </i></button></a>
{% endblock %}

{% block Table_Desc %}
    USUARIOS
{% endblock %}

{% block Card_Options %}

{% endblock %}

{% block Table_Head %}
    <th>Nombre del Usuario</th>
    <td style="width: 220px">Acciones</td>
{% endblock %}

{% block Table_Body %}
        
    {% if usrs %}
        {% for item in usrs %}
            <tr class="table-active">
                <th scope="row">{{ item.username }}</th>
                <td>
                    <a href="{% url 'u_usr_upd' item.username %}"><button type="button" class="btn btn-info btn-sm"><i class="fas fa-pencil-alt fa-solid"> Editar</i></button></a>
                    <a href="{% url 'u_usr_del' item.username %}"><button type="button" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt fa-solid"> Eliminar</i></button></a>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <h1>No hay registros de Usuarios</h1>
    {% endif %}

{% endblock %}

{% block Table_Foot %}
    
{% endblock %}

{% block Table_Button %}
    <a href="{% url 'u_usr_new' %}"><button type="button" class="btn btn-primary float-right"><i class="fas fa-plus"> Agregar</i></button></a>
{% endblock %}

{% block modal %}

<!-- /.modal -->
{% endblock %}