{% extends 'inicio.html' %}
{% load static %}

{% block content %}
<br>
<div class="row">
    <div class="col-6">
        <div class="card-body">
        <p>Seguro que quieres borrar "{{item}}"?</p>

        <form action="{% url 'u_usr_del' item.username %}" method="POST">

            {% csrf_token %}
            <a class="btn btn-warning" href="{% url 'u_usr_list' %}">Cancelar</a>
            <input class="btn btn-danger" type="submit" value="Aceptar">
        </form>
        </div>
    </div>
</div>
{% endblock %}